@import "../../styles/styles.scss";

.funds {
  height: 100%;

  .funds__controls {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
  }

  .funds__grid {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 32px;
  }

  @include breakpoint('small') {
    .funds__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include breakpoint('medium-large') {
    .funds__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
