@import "../../styles/styles.scss";

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .home__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .home__logo {
      margin-bottom: 16px;
    }

    .home__version {
      margin: 0 16px 0;
    }

    .home__button {
      width: 100%;
      max-width: 300px;
    }

  }

}
